*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*table, th, td {*/
/*    border: 1px solid black;*/
/*    border-collapse: collapse;*/
/*}*/
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    /*background-color: white;*/
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table th {
    color: #ffffff;
    background: #023d42;
    border: 1px solid #ddd;
}

.fl-table tr {
    color: #f2f2f2;
    background: #3f4955;
}

.fl-table tr:hover {
    background-color: #2d2a2a;
}
