<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./style.css" />
    {% endblock %}

</head>
<body>
<h3>Weather Report {{Date}}</h3>

<table id="weatherData">
    <thead>
    {{ Header }}
    </thead>
    <tbody>
<tr>
    <td>{{ weatherDataOutside}}</td>
</tr>
<tr>
    <td>{{weatherDataInside}}</td>
</tr>

<tr>
    <td>{{weatherDataBasement}}</td>
</tr>
</table>
</body>
</html>
